name: deploy01

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Sync Project to VM
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "."
          target: "/home/${{ secrets.AZURE_VM_USER }}/Devops-Track"
          rm: true

      - name: Launch Docker Containers
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Navigate to the home directory of the user provided in secrets
            cd /home/${{ secrets.AZURE_VM_USER }}/Devops-Track
            sudo docker compose down --remove-orphans
            sudo docker compose up -d --build
            sudo chown -R 33:33 ./blog
            sudo chmod -R 775 ./blog
